<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-9"></div>
      <div class="col-md-3">
        <input type="checkbox" name="onlyShowInStockItems" id="onlyShowInStockItems" [(ngModel)]="onlyShowInStockItems">
        <label for="onlyShowInStockItems">Only Show in Stock</label>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-2" *ngFor="let button of itemButtonlist">
        <button (click)="setFilter(button.filter)">{{button.title}}</button>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-2 col-2">
    <strong>Code</strong>
  </div>
  <div class="col-md-2 col-2">
    <strong>Name</strong>
  </div>
  <div class="col-md-2 col-2">
    <strong>Price</strong>
  </div>
  <div class="col-md-1 col-1">
    <strong>Stock</strong>
  </div>
  <div class="col-md-2 col-2">
    <strong>Images</strong>
  </div>
  <div class="col-md-3 col-3">
    <strong>Action</strong>
  </div>
</div>
<div class="row" *ngFor="let item of items | async">
  <ng-container *ngIf="filterItemType(item)">
    <ng-container *ngIf="!item.isEdit">
      <div class="col-md-2 col-2">{{item.id}}</div>
      <div class="col-md-2 col-2">{{item.name}}</div>
      <div class="col-md-2 col-2">{{item.price}}</div>
      <div class="col-md-1 col-1">{{item.stock}}</div>
      <div class="col-md-2 col-2">
        <ng-container *ngIf="item.images">
          <img *ngFor="let imgsrc of item.images" src="../../../../assets/download.png" height="30px" width="30px" alt="" (click)="getDownloadUrl(img, imgsrc)"
            #img>
        </ng-container>
      </div>
      <div class="col-md-3 col-3">
        <button (click)="setEdit(item)">Edit</button>
      </div>
    </ng-container>
    <ng-container *ngIf="item.isEdit">
      <div class="col-md-2 col-2">
        <input type="text" [(ngModel)]="selectedItem.id">
      </div>
      <div class="col-md-2 col-2">
        <input type="text" [(ngModel)]="selectedItem.name">
      </div>
      <div class="col-md-2 col-2">
        <input type="text" [(ngModel)]="selectedItem.price">
      </div>
      <div class="col-md-1 col-1">
        <input type="text" [(ngModel)]="selectedItem.stock">
      </div>
      <div class="col-md-2 col-2">
          <img *ngFor="let imgsrc of selectedItem.images" src="../../../../assets/delete.png" height="30px" width="30px" alt="" (click)="deleteImage(img, imgsrc)"
            #img>
            <input #fileInput type="file" (change)="chooseFiles($event)" style="display: none">
            <button (click)="fileInput.click()">Add Images</button>
        </div>
      <div class="col-md-3 col-3">
        <button (click)="onEdit(item)">Save</button>
        <button (click)="onDelete(item)">Delete</button>
        <button (click)="onCancel(item)">Cancel</button>
      </div>
    </ng-container>
  </ng-container>
</div>
