.centre{
  text-align: center;
  width: 100%;
}
.form-input{
  width: 100%;
}
form{
  margin-top: 25%;
}
button{
  margin-left: 2%;
  margin-right: 2%;
}
#loadingDiv{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: red;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  opacity: 0.5;
}
